* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  column-gap: 70px;
  width: 1920px;
  height: 1080px;
  background: #F8FAFB;
}


